#myCanvas {
    position: relative;
    background-color: black;
    width: 600px;
    height: 600px;
    border: 5px solid black;
    margin-top: 5rem;
}

#side-panel{
    height: 600px;
    width: 300px;
    background-color: rgb(37, 36, 36);
    border: 5px solid rgb(37, 36, 36);
    text-shadow: blanchedalmond;
    color: whitesmoke;
    margin-top: 5rem;
}

#Circle {
    background-color: #441891;
    border-radius: 50%;
    position: absolute;
    opacity: 0.80;
}

#Triangle {
   
    position: absolute;
    opacity: 0.80;
}

#Rectangle {
    background-color: #023111;
    position: absolute;
    opacity: 0.80;
}

#Square {
    background-color: #5e0202;
    position: absolute;
    opacity: 0.80;
}